@{
    ViewData["Title"] = "About Us";
}

<div class="page-header">
	<h2>@ViewData["Title"]</h2>
</div>

<div class="row">
	<div class="col-md-2"></div>
	<div class="col-md-4">		
		<img class="img-circle img-responsive center-block" src="../wwwroot/images/marcel.jpg" alt="">
		<h3>Marcel Goldhardt
			<br/><small>Sr. Software Engineer</small>
		</h3>
		<h5>mail: <a href="mailto:marcel.goldhardt@dell.com">marcel.goldhardt@dell.com</a>  </h5>
		<p><i><strong>May the force be with you! </strong></i>
		</p>
	</div>
	<div class="col-md-4">
		<img class="img-circle img-responsive center-block" src="images/tiago.jpg" alt="">
		<h3>Tiago Moura
			<br /><small>Software Engineer</small>
		</h3>
		<h5>mail: <a href="mailto:tiago.gomes.moura@dell.com">tiago.gomes.moura@dell.com</a>  </h5>
		<p><i><strong>With great powers comes great responsability!</strong></i></p>
	</div>
	<div class="col-md-2"></div>
</div>