@{
    ViewData["Title"] = "Home Page";
}
<div class="page-header">
	<h1> @ViewData["Title"] </h1>
</div>

<div class="logos">
	<div class="row">
		<div class="col-md-4">
			<img src="images/interop_roadshow.png" alt="Dell Technologies" class="img-responsive center-block" />
		</div>
		<div class="col-md-4">
			<img src="images/ulbra.png" alt="Ulbra Canoas" class="img-responsive center-block" />
		</div>
		<div class="col-md-4">
			<img src="images/dell_technologies.jpg" alt="Dell Technologies" class="img-responsive center-block" />
		</div>
	</div>
</div>
